# Python
# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
.venv-1/
venv/
env/

# Raw downloaded archive
data/*.zip
data/**/*.dat
data/ml-1m/

# OS / IDE
.DS_Store/
.vscode/
.idea/
*.log